<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/font-awesome-4.7.0/css/font-awesome.css}">
    <link th:href="@{/styles/login-styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" th:src="@{/images/placeholder_700_n.jpg}" />
        <div class="danger" th:if="${param.logout}">You have been logged out.</div>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" th:action="@{/login}" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <input name="username" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <div align="center">
                <p th:text="${error}" style="color: #FF1C19;"></p>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->