<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" th:href="@{/styles/font-awesome-4.7.0/css/font-awesome.css}">
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="navborder">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="ourwedding">Our Wedding</a></li>
                        <li><a id="met">How We Met</a></li>
                        <li><a id="proposal">The Proposal</a></li>
                        <li><a id="gallery">Gallery</a></li>
                        <li><a id="registry">Our Registry</a></li>
                        <li><a id="book">Guest Book</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard}">Dashboard</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <div data-aos="fade-up" data-aos-duration="1500" class="image-heading">
            <img class="img-responsive hidden-sm hidden-xs" th:src="@{/images/placeholder_700_n.jpg}" />
            <div class="hidden-md hidden-lg outer-div">
                <div class="inner-div"></div>
            </div>
        </div>
    </header>
    <section class="container col-md-12">
        <article class="our_wedding col-md-12">
            <h3>Please join us for our wedding celebration on</h3>
            <h5 class="wedding_date">April 27th, 2019</h5>
        </article>
        <article class="met col-md-12">
            <div class="col-md-6 col-md-offset-3 vertical-center">
                <h3 class="text-center">OUR STORY</h3>
                <br>
                <h5>Her Story</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec est et lectus porta porttitor at ac quam. Pellentesque at pellentesque ante.
                    Maecenas dignissim mauris eu lorem blandit porttitor. Quisque in massa sapien. Nam in ultrices ante. Aliquam eget pharetra eros.
                    In pulvinar augue id mi tempor porttitor. Cras facilisis arcu nec justo interdum malesuada. Donec scelerisque, nisi congue lobortis hendrerit, erat orci accumsan ligula, non maximus ipsum ex ac diam.
                    In scelerisque suscipit ipsum, ut vestibulum elit lobortis a.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nulla pulvinar, lacinia sem vitae, malesuada nisi.
                    Suspendisse congue ipsum vel accumsan placerat. Nulla vel hendrerit nisl. Fusce quis sollicitudin libero.
                    Morbi rhoncus dapibus sapien.</p>
                <br>
                <h5>His Story</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec est et lectus porta porttitor at ac quam. Pellentesque at pellentesque ante.
                    Maecenas dignissim mauris eu lorem blandit porttitor. Quisque in massa sapien. Nam in ultrices ante. Aliquam eget pharetra eros.
                    In pulvinar augue id mi tempor porttitor. Cras facilisis arcu nec justo interdum malesuada. Donec scelerisque, nisi congue lobortis hendrerit, erat orci accumsan ligula, non maximus ipsum ex ac diam.
                    In scelerisque suscipit ipsum, ut vestibulum elit lobortis a.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nulla pulvinar, lacinia sem vitae, malesuada nisi.
                    Suspendisse congue ipsum vel accumsan placerat. Nulla vel hendrerit nisl. Fusce quis sollicitudin libero.
                    Morbi rhoncus dapibus sapien.</p>
            </div>

        </article>
        <article class="proposal col-md-12">
            <div class="col-md-6 col-md-offset-3 vertical-center">
                <h3 class="text-center">The Proposal</h3>
                <br>
                <h5>Her Story</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec est et lectus porta porttitor at ac quam. Pellentesque at pellentesque ante.
                    Maecenas dignissim mauris eu lorem blandit porttitor. Quisque in massa sapien. Nam in ultrices ante. Aliquam eget pharetra eros.
                    In pulvinar augue id mi tempor porttitor. Cras facilisis arcu nec justo interdum malesuada. Donec scelerisque, nisi congue lobortis hendrerit, erat orci accumsan ligula, non maximus ipsum ex ac diam.
                    In scelerisque suscipit ipsum, ut vestibulum elit lobortis a.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nulla pulvinar, lacinia sem vitae, malesuada nisi.
                    Suspendisse congue ipsum vel accumsan placerat. Nulla vel hendrerit nisl. Fusce quis sollicitudin libero.
                    Morbi rhoncus dapibus sapien.</p>
                <br>
                <h5>His Story</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec est et lectus porta porttitor at ac quam. Pellentesque at pellentesque ante.
                    Maecenas dignissim mauris eu lorem blandit porttitor. Quisque in massa sapien. Nam in ultrices ante. Aliquam eget pharetra eros.
                    In pulvinar augue id mi tempor porttitor. Cras facilisis arcu nec justo interdum malesuada. Donec scelerisque, nisi congue lobortis hendrerit, erat orci accumsan ligula, non maximus ipsum ex ac diam.
                    In scelerisque suscipit ipsum, ut vestibulum elit lobortis a.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nulla pulvinar, lacinia sem vitae, malesuada nisi.
                    Suspendisse congue ipsum vel accumsan placerat. Nulla vel hendrerit nisl. Fusce quis sollicitudin libero.
                    Morbi rhoncus dapibus sapien.</p>
            </div>
        </article>
        <article class="gallery col-md-12">
            <h3 class="text-center">Our Photos</h3>
            <br>
            <div class="col-md-6 col-md-offset-3 vertical-center">
                <div class="col-md-12">
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/placeholder_big.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/placeholder_big.jpg}"/>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="registry col-md-12">

        </article>
        <article class="guest_book col-md-12">
            <div class="guest-container">
                <h3 class="text-center">RSPV Below</h3>
                <br>
                <p class="text-center">We would love to have you at our wedding. To ensure we have enough seats, do be sure to rsvp.</p>
                <div class="col-md-6 col-md-offset-3 vertical-center form">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="email" class="form-control" id="inputEmail1" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="email" class="form-control" id="inputEmail2" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="# in party going to ceremony">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="# in party going to reception">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <button type="submit" class="btn btn-default btn-block">RSVP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </article>
        <footer class="col-md-12">
            footer
        </footer>
    </section>
    <div>
        <a class="button-up">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
    </div>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script th:src="@{/javascript/smoothscroll.min.js}"></script>
    <script>
        AOS.init();

        //light box configuration
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                showArrows: false,
                width: 1200
            });
        });

        //smooth configuration
        $( "#ourwedding" ).click(function() {
            console.log("ourweddingpressed");
            document.querySelector('.our_wedding').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#met" ).click(function() {
            console.log("met");
            document.querySelector('.met').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#proposal" ).click(function() {
            console.log("proposal");
            document.querySelector('.proposal').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#gallery" ).click(function() {
            console.log("gallery");
            document.querySelector('.gallery').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#registry" ).click(function() {
            console.log("registry");
            document.querySelector('.registry').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#book" ).click(function() {
            console.log("guest_book");
            document.querySelector('.guest_book').scrollIntoView({ behavior: 'smooth' });
        });
        $(".button-up").click(function() {
            window.scroll({ top: 0, left: 0, behavior: 'smooth' });
        });

        //up button
        $(window).scroll(function() {
            var scrollPosition = $(document).scrollTop();
            console.log(scrollPosition);

            if(scrollPosition >= 500) {
                //animate the button in - fade in
                $(".button-up").fadeIn(1000);
            }

            if(scrollPosition <= 499) {
                //animate the button out - fade out
                $(".button-up").fadeOut(1000);
            }
        });

    </script>
</body>
</html>