<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="animated fadeIn slow">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liz and Drew</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" th:href="@{/styles/font-awesome-4.7.0/css/font-awesome.css}">
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Basic:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kristi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body>
    <header>
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="navborder">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="ourwedding">Our Wedding</a></li>
                        <li><a id="met">Our Story</a></li>
                        <li><a id="gallery">Our Photos</a></li>
                        <li><a id="registry">Our Registry</a></li>
                        <li><a id="book">RSVP</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/dashboard}">Dashboard</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid- -->
        </nav>
        <div th:id="alert" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}" style="display:none"/>
        <div data-aos="fade-up" data-aos-duration="1500" class="image-heading">
            <div class="outer-div">
                <div class="inner-div animated fadeIn slow" th:style="'background:url(' + @{/images/headline_pic.jpg} + ');'">
                    <h2 class="name-headline">Elizabeth & Drew</h2>
                </div>
            </div>
        </div>
    </header>
    <section class="container col-md-12">
        <article data-aos="fade-up" class="our_wedding col-md-12">
            <h3>Please join us for our wedding celebration</h3>
            <h5 class="wedding_date">May 3rd, 2019</h5>
            <br>
            <h5 class="wedding_date">The Springs Event Venue</h5>
            <h5 class="wedding_date">454 Thompson Rd, Weatherford, TX 76087</h5>
            <img id="open-map" style="padding:10px 0px; margin: auto; cursor: pointer;" class="img-responsive" th:src="@{/images/map.PNG}" />
        </article>
        <article class="met col-md-12">
            <div class="col-md-6 col-md-offset-3 vertical-center">
                <h3 class="text-center">OUR STORY</h3>
                <br>
                <div data-aos="fade-up" data-aos-duration="1500" class="text-center story-content">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <h4>How We Met</h4>
                    <p class="story-paragraph">We met at a birthday party several years ago and reconnected while attending the University of Texas at Arlington.
                        While working together to run a campus ministry, we grew close. Our first date was disguised as a "meeting" but we both knew it was much more.</p>
                </div>

                <div data-aos="fade-up" data-aos-duration="1500" class="text-center story-content">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <h4>The proposal</h4>
                    <p class="story-paragraph">Drew and I had planned a short vacation to Paris to spend time with family and visit friends.
                        He had convinced me that he was not going to propose until 2019. My gullible self had assumed this trip was just a family vacation.
                        We spent a few summer days exploring famous sites, making new friends, and eating delicious foods. On our third day in Paris, Drew took me on a detour when he "discovered" a nearby local park.
                        The sun was setting when we stumbled upon a classical gazebo that overlooked glistening lake. We carved our initials into a pillar, confessed our love, and then proceeded to a nearby bench where he proposed.</p>
                </div>

            </div>

        </article>
        <article class="gallery col-md-12">
            <h3 class="text-center">Our Photos</h3>
            <br>
            <div class="col-md-6 col-md-offset-3 vertical-center gallery-container">
                <div class="col-md-12">
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_one.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_one.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_two.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_two.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_five.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_five.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_six.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_six.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_three.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_three.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_four.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_four.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_seven.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_seven.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_eight.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_eight.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_nine.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_nine.jpg}"/>
                        </a>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6">
                        <a th:href="@{/images/engage_ten.jpg}" data-toggle="lightbox" data-gallery="example-gallery">
                            <img class="img-fluid img-thumbnail col-md-12" th:src="@{/images/engage_ten.jpg}"/>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="registry col-md-12">
            <div class="text-center">
                <h3>Our Registry</h3>
                <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6 col-md-offset-3 registry-div">
                    <div class="col-md-4">
                        <a href="https://www.amazon.com/wedding/share/lizanddrewsayido"><img class="img-responsive" th:src="@{/images/amazon.png}" /></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://www.target.com/gift-registry/giftgiver?registryId=c0707edfd21445bb9b17cd4b9e31bada&type=WEDDING&ref=reg_home_friends_fam"><img class="img-responsive" th:src="@{/images/target.png}" /></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://www.walmart.com/lists/view-wedding-registry-items?id=4bc5c2bd-9e79-441a-9b84-1991dd8118bc"><img class="img-responsive" th:src="@{/images/walmart_logo.jpg}" /></a>

                    </div>
                </div>

            </div>
        </article>
        <article class="guest_book col-md-12">
            <div class="guest-container">
                <h3 class="text-center">RSVP</h3>
                <br>
                <p class="text-center">We would love to have you at our wedding. To ensure we have enough seats, please rsvp.</p>
                <div data-aos="fade-up" data-aos-duration="1500" class="col-md-6 col-md-offset-3 vertical-center form">
                    <form th:type="reset" class="form-horizontal" method="post" th:action="@{/}" th:object="${reserved}" onsubmit="clearForm()">
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="text" class="form-control" id="firstname" placeholder="First Name" th:field="*{firstname}" th:required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name" th:field="*{lastname}" th:required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="number" class="form-control" id="ceremony" placeholder="# in party going to ceremony" th:field="*{partyNumberCeremony}" th:required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <input type="number" class="form-control" id="reception" placeholder="# in party going to reception" th:field="*{partyNumberReception}" th:required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-md-offset-3">
                                <button type="submit" class="btn btn-default btn-block">RSVP</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </article>
        <article class="just-married-article col-md-12" style="padding: 0px">
            <div class="just-married-background" th:style="'background:url(' + @{/images/footer_pic.jpg} + ');'">
                <div class="container">
                </div>
            </div>
        </article>
        <footer class="col-md-12">
            <p class="text-center">© 2018 all rights reserved - a product of dtatkison.</p>
        </footer>
    </section>
    <div>
        <a class="button-up">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </a>
    </div>

    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script th:src="@{/javascript/smoothscroll.min.js}"></script>
    <script th:src="@{/javascript/jquery.paroller.min.js}"></script>
    <script th:src="@{/javascript/countdown.min.js}"></script>
    <script>
        AOS.init();

        $(document).ready(function() {
            $('.paris-img').paroller();

            $('#open-map').click(function() {
                window.open("http://maps.apple.com/?saddr=My+Location&daddr=454+Thompson+Road+Weatherford+TX+76087");
            });


           console.log($('#alert').length);
           //Display the success message then remove it when user successfully submitted the form
           if($('#alert').length == 1) {
               $('#alert').fadeIn(800).delay(1500).fadeOut(800, function() {
                  $('#alert').remove();
               });
           }
        });

        function clearForm()
        {
            $(this).closest('form').find("input[type=text], input[type=number], textarea").val("");
        }

        //light box configuration
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                showArrows: false,
                width: 1200
            });
        });

        //smooth configuration
        $( "#ourwedding" ).click(function() {
            console.log("ourweddingpressed");
            document.querySelector('.our_wedding').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#met" ).click(function() {
            console.log("met");
            document.querySelector('.met').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#proposal" ).click(function() {
            console.log("proposal");
            document.querySelector('.proposal').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#gallery" ).click(function() {
            console.log("gallery");
            document.querySelector('.gallery').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#registry" ).click(function() {
            console.log("registry");
            document.querySelector('.registry').scrollIntoView({ behavior: 'smooth' });
        });
        $( "#book" ).click(function() {
            console.log("guest_book");
            document.querySelector('.guest_book').scrollIntoView({ behavior: 'smooth' });
        });
        $(".button-up").click(function() {
            window.scroll({ top: 0, left: 0, behavior: 'smooth' });
        });

        //up button
        $(window).scroll(function() {
            var scrollPosition = $(document).scrollTop();
            console.log(scrollPosition);

            if(scrollPosition >= 500) {
                //animate the button in - fade in
                $(".button-up").fadeIn(1000);
            }

            if(scrollPosition <= 499) {
                //animate the button out - fade out
                $(".button-up").fadeOut(1000);
            }
        });

    </script>
</body>
</html>