/*site styles*/

/*menu styles*/
.navbar {
    background: none !important;
    border: none !important;
    text-align: center;
}

.navborder {
    margin-top: 15px;
    border-top: #7D7D7D 2px solid;
}

#navbar {
    padding: 0px !important;
    padding-top: 100px !important;
    width: 49% !important;
    margin: auto !important;
}

ul.nav {
    margin:0;
    padding:0;
    display: inline-block;
    float: none !important;
}

.nav li{
    display:inline;
    margin: auto;
}
.nav li:hover {
    cursor: pointer;
}
.nav a{
    display:inline-block;
    padding:10px;
}

div.image-heading {

}

div.image-heading img {
    width: 100%
}

.outer-div {
    height: 50vh;
    overflow:hidden;
}

.inner-div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('../images/placeholder_big_n.jpg');
}

section.container {
    margin: 0px;
    padding: 0px;
}

/*our wedding section*/
article.our_wedding {
    text-align: center;
    padding: 100px 0px;
    background-color: white;
}

/* how we met section */
article.met {
    background-color: #f5f5f5;
    padding: 100px;
}

article.met p {
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: 0em;
    font-size: 15.400000000000002px;
    color: rgb(0, 0, 0);
}


/* proposal section */
article.proposal {
    padding: 100px;
}

article.proposal p {
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    text-transform: none;
    letter-spacing: 0em;
    font-size: 15.400000000000002px;
    color: rgb(0, 0, 0);
}

article.gallery {
    background-color: #f5f5f5;
    padding: 100px 0px !important;
}

article.gallery div {
    padding: 5px !important;
}

article.gallery img {
    padding: 0px !important;
}

article.registry {
    height: 700px;
}

article.guest_book {
    background-color: #f5f5f5;
}

article.guest_book div.guest-container {
    padding: 15px !important;
}

article.guest_book div.form {
    padding: 85px 0px;
}

.button-up {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#7d7d7d;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    display: none;
}
.button-up:hover {
    color: #f7f7f7;
    text-decoration: none;
    cursor: pointer;
}
.button-up i {
    font-size: 30px;
    padding: 12px;
}

footer {
    height: 350px;
}

/*light box plugin styles*/
.ekko-lightbox-container {
    height: auto !important;
}

/*Responsive css*/
@media (max-width: 768px) {
    .modal-dialog {
        width: 1200px !important;
        margin: 30px auto;
    }

    #navbar {
        padding: 0px !important;
        overflow: hidden;
    }
    #navbar ul.nav {
        padding-top: 15px !important;
    }

    #navbar li {
        padding: 5px !important;
        font-size: 20px !important;
    }

    /*our story paragraphs*/
    article.met {
        padding: 10px !important;
    }

    article.proposal {
        padding: 10px !important;
    }

}



